@model BasketViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basket</h5>
                @if (Model != null && Model.BasketItem.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Course name</th>
                            <th>Course price</th>
                            <th>Edit</th>
                        </tr>
                        @foreach (var item in Model.BasketItem)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>
                                    @item.GetCurrentPrice USD @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} done)" : "")
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="DeleteBasketItem" asp-route-courseId="@item.CourseId">Delete</a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>Discount rate</td>
                                <td colspan="2">%@Model.DiscountRate.Value</td>
                            </tr>
                        }
                        <tr>
                            <td>@(Model.HasDiscount ? "Discounted amount" : "Total price")</td>
                            <th colspan="2">@Model.TotalPrice USD</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                @Model.DiscountCode discount code applied
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount">(Cancel)</a>
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control">
                            <button type="submit" class="btn btn-outline-secondary">Apply</button>
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">Discount code is invalid</div>
                        }

                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Payment information</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Keep reviewing courses</a>
                }
                else
                {
                    <div class="alert alert-info">Basket is empty</div>
                }
            </div>
        </div>
    </div>
</div>